* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
    width: 90%;
    margin: 10px auto;
}

/* Header Section: */

header{
    /* width: 90%; */
    height: 70px;
    /* background-color: aquamarine; */
}

#nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

#logo{
    width: 30%;
    font-size: 30px;
    font-weight: 700;
    color: darkblue;
}

#nav-bar{
    width: 60%;
    /* flex: 1;
    text-align: right; */
}

.nav-link{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link li{
    display: inline-block;
}

.nav-link li a{
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
    color: black;
    padding: 10px 20px;
}

#about-me{
    background-color: darkblue;
    color: white;    
}

.hover-link:hover{
    background-color: darkblue;
    color: white;
}

